{% extends 'base.html.twig' %}

{% block title %}ASC - Accueil
{% endblock %}

{% block body %}
	<h1>Bienvenue sur ASC</h1>
	<section class="base-css">
		{% for home in homes %}

			<div class="card">
				<div class="card-body">
					{{home.message|raw}}
				</div>
			</div>

		{% endfor %}
	</section>
{% endblock %}
