@import "~bootstrap/scss/bootstrap";

:root {
  --background: #cccccc;
  --color: #b49508cc;
  --font-color-black: #1D1D1D;
  --font-family-nav: 'DM Serif Display', serif;
  --font-family-body: 'DM Serif Display', serif;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--font-color-black);
}

// GENERAL

.base-css {
  display: flex;
  flex-direction: column;
  margin: 4rem;
}

h1 {
  text-align: center;
}

// NAVBAR ///

.logo_nav {
  width: 4rem;
  height: 4rem;
}

// CARD HOME

.card {
  border: none;
  box-shadow: #1D1D1D;
}

.card-body {
  margin: 3rem;
  border-radius: 2rem;
  
}
